datasets
transformers
click
scikit-learn
dvc[s3]
shap
tqdm
transformers
tokenizers
sentence-transformers

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.0+cu116

--index-url https://pypi.clarin-pl.eu/simple/
plwn-api
lpmn_client_biz
